$bg-color : #FFFFFF;
$bg-gray : #EEEEEE;


@mixin mobile {
    @media (max-width: 576px){
        @content;
    }
}


// General css for surface level customization
//======================================================

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #E5E5E5;
    font-family: "HKGrotesk-Regular", sans-serif;
}


// Main site wrapper
// Static width for large screen
// But in mobile device, layout will be fluid
//=========================================================


#site-wrapper{
    max-width : 360px;
    background-color: $bg-gray;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    overflow: hidden;
    
    @include mobile{
        max-width: 100%;
    }
}


// Header css
//================================================

header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 30px 30px 20px 30px;
    height : 80px;
    box-shadow: -1px -10px 30px 3px rgba(0,0,0,0.75);
    position: relative;
    z-index: 1;
    max-width : 360px;
    background-color : $bg-color;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    

    @include mobile{
        max-width: 100%;
    }
}

.header-btn{

    width : 107px;
    height : 48px;
    background-color: $bg-color;
    border : 1px solid #DDDDDD;
    border-radius : 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding : 8px;
    font-weight : 600;
    
    &:hover{
        text-decoration: none;
    }

    &:focus{
        outline : none;
    }

    span{
        color : #FF5A00;
        font-size : 14px;
        text-align: left;
        line-height : 18px;
        margin-left : 8px;
    }

}


// Banner section css
//===================================

.foot-note{
    position : absolute;
    margin: 0;
    bottom: 10px;
    right : 20px;
    font-size: 12px;
}

.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(180deg, #00CC75 0%, #0BAF6A 100%, #017A47 100%);
    color : #ffffff;
    padding : 40px 0;

}

.bnr-header{
    h2{
        font-family: "HKGrotesk-Bold", sans-serif;
        font-weight : bold;
        font-size : 42px;
        margin-bottom : 0;
        text-align: center;
    }
}

.bnr-content{
    display : flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding : 0 18px;
    margin-top : 22px;
    position : relative;
}

.bnr-col{
    width : 50%;
    .bnr-sub{
        
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom : 0;
        }
    }

    .bnr-sub-text{
        margin-left : 15px;
        h4{
            font-size: 24px;
            font-weight : bold;
            line-height : 32px;

        }
    }
}


.bnr-img-wrap{
    position: absolute;
    width : 100%;
    bottom : 0;
}

.bnr-hero-img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    img{
        width : 230px;
        bottom : 0;
        transform : translate(-30px, 10px)
        
    }
}


// Doctors section css
//========================================================

.doctors{
    background-color: $bg-color;
}
.doctors-title{

    h2{
        font-family: "HKGrotesk-Bold", sans-serif;
        font-size : 28px;
        font-weight: bold;
        color : #183B56;
        text-align: center;
        padding : 0 15px;
        line-height: 36px;
        padding-top : 20px;
    }
}


#doctor-grid{
    transition : all 0.5s ease;
    width : 100%;
    
    img{
        width : 45px;
        // transform : scale(0.5);
        transition : all 0.5s ease;
        cursor : pointer;
        position: absolute;
        top : 50%;
        left : 50%;
        transform : translate(-50%, -50%);
        transition : all 0.5s ease;
        

    }
}

.grid-item {
    position : relative;
    float: left;
    height : 80px;
    width : 25%;
    background: #0D8;
    border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.7);
    transition : all 0.5s ease;
}


// .grid-item--height1{
//     height : 110px;
//     img{
//         width : 65px !important;
        
//     }
// }

  
// .grid-item--height2{
//     height : 160px;

//     img{
//         width : 70px !important;
//         transform : translate(-30%, -50%) !important;
//     }
// }

// .grid-item--width2{
//     width : 50%;
//     img{
//         transform : translate(20%, -50%) !important;
//     }
// }

.scale-up{
    transform : scale(1.5);
}



// Investor section style
//=====================================

.investor{
    background-color : $bg-color;
    margin-top : 8px;
    width : 100%;
    padding-bottom : 25px;
}

.investor-title{
    h4{
        font-family: "HKGrotesk-SemiBold", sans-serif;
        margin-bottom : 0;
        font-size : 18px;
        font-weight : 600;
        color : #444444;
        padding-top : 20px;
        text-align: center;
    }
}

.investor-logo{
    text-align : center;
    margin-top : 5px;
}

.investor-sub-title{
    text-align: center;

    p{
        margin : 0;
        font-size : 11px;
        color : #5A7184;
    }
}

.investor-companies{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    padding-top : 5px;
}

// How we do it section
//=================================

.how-we-do{
    background-color: #CEFFDF;
    margin-top : 8px;
    padding : 40px 30px;
    padding-bottom : 55px;
    text-align: center;
}

.hwd-top-title{

    h4{
        font-size: 16px;
        font-weight : bold;
        color : #36B37E;
        letter-spacing: 2px;
    }

} 

.hwd-title{

    h1{
        font-weight : bold;
        font-size : 32px;
        color : #183B56;
        line-height : 42px;
        margin-top : 20px;
    }

}

.hwd-sub-title{

    h3{

        font-family: "HKGrotesk-SemiBold", sans-serif;
        font-size : 22px;
        color :  #333333;
        margin-top : 20px;
        margin-bottom : 30px;
    }

}

.hwd-btn-wrap{
    display: flex;
    justify-content: center;

    button{

        background-color : $bg-color;
        border-radius : 30px 30px;
        padding : 6px;
        border : 2px solid #36B37E;
        display: flex;
        justify-content: center;
        align-items: center;
        transition : all 0.3s ease;

        &:focus{
            outline : none;
        }

        &:hover{

            border-color : #183B56;
            span{
            color : #183B56;
            }

            
        }
        

        span{
            color : #01A751;
            font-weight: bold;
            font-size : 16px;
            margin-left : 8px;
            margin-right : 8px;
            transition : all 0.3s ease;
        }
    }
}



// Pricing section style
//================================


#pricing{
    background-color : $bg-color;
    margin-top : 8px;

    padding : 45px 40px;
    text-align : center;
}

.pricing-title{

    h3{

        font-family: "HKGrotesk-Bold", sans-serif;
        font-weight : bold;
        color : #183B56;
        margin-bottom : 0;

    }

}

.pricing-sub-title{

    h5{

        font-family: "HKGrotesk-Bold", sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        color : #666666;
        font-weight : bold;
        letter-spacing: 0.10px;
        line-height : 32px;
        margin-bottom : 0;
        margin-top : 12px;
        margin-bottom : 12px;

    }

}

.pricing-para{

    p{

        font-size: 16px;
        color : #5A7184;
        font-style: normal;
        line-height: 24px;
        margin-bottom : 0;
        margin-bottom : 15px;

    }

}

.pricing-content{

    background-color : #CEFFDF;
    border-radius : 9px;
    position : relative;
    overflow: hidden;
    padding : 20px 15px;
    box-shadow : 0px 0px 3px rgba(0, 0, 0, 0.2);


    &:before{
        content : "";
        width : 100%;
        height : 3px;
        background-color: #36B37E;
        position : absolute;
        top : 0;
        left : 0;

    }

}


.pricing-cnt-title{

    h3{
        color : #183B56;
        font-size: 24px;
        font-weight: bold;
        padding : 0 5px;
        margin-bottom : 0;
        margin-bottom : 15px;
    }

}

.pricing-service{


}

.pricing-top-service{

    img{
        width : 100%;
    }

}
.pricing-grid-services{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top : 13px;

    img{
        width : 47%;
        margin-bottom : 13px;
    }

}

