* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #E5E5E5;
  font-family: "HKGrotesk-Regular", sans-serif;
}

#site-wrapper {
  max-width: 360px;
  background-color: #EEEEEE;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  overflow: hidden;
}

@media (max-width: 576px) {
  #site-wrapper {
    max-width: 100%;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 30px 20px 30px;
  height: 80px;
  -webkit-box-shadow: -1px -10px 30px 3px rgba(0, 0, 0, 0.75);
          box-shadow: -1px -10px 30px 3px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 1;
  max-width: 360px;
  background-color: #FFFFFF;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 576px) {
  header {
    max-width: 100%;
  }
}

.header-btn {
  width: 107px;
  height: 48px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  font-weight: 600;
}

.header-btn:hover {
  text-decoration: none;
}

.header-btn:focus {
  outline: none;
}

.header-btn span {
  color: #FF5A00;
  font-size: 14px;
  text-align: left;
  line-height: 18px;
  margin-left: 8px;
}

.foot-note {
  position: absolute;
  margin: 0;
  bottom: 10px;
  right: 20px;
  font-size: 12px;
}

.banner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(#00CC75), color-stop(100%, #0BAF6A), to(#017A47));
  background: linear-gradient(180deg, #00CC75 0%, #0BAF6A 100%, #017A47 100%);
  color: #ffffff;
  padding: 40px 0;
}

.bnr-header h2 {
  font-family: "HKGrotesk-Bold", sans-serif;
  font-weight: bold;
  font-size: 42px;
  margin-bottom: 0;
  text-align: center;
}

.bnr-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0 18px;
  margin-top: 22px;
  position: relative;
}

.bnr-col {
  width: 50%;
}

.bnr-col .bnr-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
}

.bnr-col .bnr-sub:last-child {
  margin-bottom: 0;
}

.bnr-col .bnr-sub-text {
  margin-left: 15px;
}

.bnr-col .bnr-sub-text h4 {
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.bnr-img-wrap {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.bnr-hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.bnr-hero-img img {
  width: 230px;
  bottom: 0;
  -webkit-transform: translate(-30px, 10px);
          transform: translate(-30px, 10px);
}

#doctor-grid-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 15px;
}

#doctor-grid-buttons a {
  font-size: 16px;
  color: #666666;
  padding: 3px 10px;
  border: 1px solid #EEEEEE;
  border-radius: 17px;
  text-transform: capitalize;
  margin-right: 10px;
  margin-bottom: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#doctor-grid-buttons a:last-child {
  margin-right: 0;
}

#doctor-grid-buttons a:hover {
  text-decoration: none;
  border-color: #d5d5d5;
}

#doctor-grid-buttons a.active {
  border-color: #03A750;
}

.doctors {
  background-color: #FFFFFF;
}

.doctors-title h2 {
  font-family: "HKGrotesk-Bold", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #183B56;
  text-align: center;
  padding: 0 20px;
  line-height: 36px;
  padding-top: 20px;
}

#doctors-grid {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}

#doctors-grid img {
  width: 45px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.5s ease;
}

#doctors-grid .grid-item {
  position: relative;
  float: left;
  height: 80px;
  width: 25%;
  border-color: rgba(0, 0, 0, 0.7);
}

#doctors-grid .grid-item.active img {
  border: 4px solid #02783A;
  border-radius: 50%;
}

#doctors-grid .grid-item:nth-child(3n + 0) {
  height: 100px;
}

#doctors-grid .grid-item:nth-child(3n + 0) img {
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
}

#doctors-grid .grid-item:nth-child(3n + 3) {
  height: 140px;
}

#doctors-grid .grid-item:nth-child(3n + 3) img {
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

#doctors-grid .grid-item:nth-child(2n + 0) {
  height: 90px;
}

#doctors-grid .grid-item:nth-child(2n + 0) img {
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
}

#doctors-grid .grid-item:nth-child(5n + 0) {
  height: 90px;
}

#doctor-info {
  background-color: #FFFFFF;
  padding: 15px 40px 25px 40px;
}

.name-title h4 {
  font-family: "HKGrotesk-Bold", sans-serif;
  font-size: 24px;
  color: #02783A;
  margin-bottom: 0;
}

.name-title h5 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #666666;
  margin-top: 5px;
}

.doctor-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

.doctor-block:last-child {
  margin-top: 20px;
}

.doctor-block .doctor-block-icon {
  display: block;
}

.doctor-block .block-text {
  margin-left: 12px;
}

.doctor-block h5 {
  color: #666666;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 12px;
  margin-bottom: 6px;
}

.doctor-block h4 {
  font-family: "HKGrotesk-SemiBold", sans-serif;
  font-size: 20px;
  color: #02783A;
  margin-bottom: 0;
}

.patients {
  background-color: #E8F5E9;
  margin-top: 8px;
  text-align: center;
  padding: 30px 0;
  padding-bottom: 0;
}

.patients-title h2 {
  font-family: "HKGrotesk-Bold", sans-serif;
  color: #183B56;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0;
}

.patients-sub-title {
  padding: 0 60px;
}

.patients-sub-title h5 {
  margin-bottom: 0;
  font-size: 19px;
  color: #5A7184;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 28px;
}

#patients-grid {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}

#patients-grid img {
  width: 45px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.5s ease;
}

#patients-grid {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 100%;
}

#patients-grid img {
  width: 45px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: all 0.5s ease;
}

#patients-grid .grid-item {
  position: relative;
  float: left;
  height: 80px;
  width: 25%;
  border-color: rgba(0, 0, 0, 0.7);
}

#patients-grid .grid-item.active img {
  border: 4px solid #02783A;
  border-radius: 50%;
}

#patients-grid .grid-item:nth-child(3n + 0) {
  height: 100px;
}

#patients-grid .grid-item:nth-child(3n + 0) img {
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
}

#patients-grid .grid-item:nth-child(3n + 3) {
  height: 140px;
}

#patients-grid .grid-item:nth-child(3n + 3) img {
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

#patients-grid .grid-item:nth-child(2n + 0) {
  height: 90px;
}

#patients-grid .grid-item:nth-child(2n + 0) img {
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
}

#patients-grid .grid-item:nth-child(5n + 0) {
  height: 90px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  margin-top: 15px;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: #B3BAC5;
  cursor: pointer;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slick-dots li:first-child {
  margin-left: 0;
}

.slick-dots .slick-active {
  background-color: #109C66;
}

.slick-slide:focus {
  outline: none;
}

#patient-info {
  padding: 30px 40px;
  text-align: center;
  background-color: #E8F5E9;
  position: relative;
}

#patient-info .foot-note {
  bottom: 65px;
  right: 40px;
  color: #999999;
}

.patient-name h3 {
  font-family: "HKGrotesk-Bold", sans-serif;
  margin-bottom: 0;
  color: #02783A;
  font-weight: bold;
  font-size: 28px;
}

.basic-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.basic-content {
  text-align: left;
  margin-left: 17px;
}

.basic-content h5 {
  font-weight: bold;
  color: #444444;
  margin-bottom: 0;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.basic-content h4 {
  margin-bottom: 0;
  color: #388E3C;
  font-weight: bold;
  font-size: 22px;
}

.patient-comment {
  margin-top: 15px;
  margin-bottom: 35px;
}

.patient-comment p {
  font-family: "HKGrotesk-SemiBold", sans-serif;
  font-size: 22px;
  color: #444444;
}

.patient-desease-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 16px;
  padding-bottom: 8px;
  margin-bottom: 18px;
}

.patient-desease-card .desease-name h5 {
  font-family: "HKGrotesk-SemiBold", sans-serif;
  color: #444444;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: 10px;
  margin-bottom: 8px;
}

.patient-desease-card .points-arrow {
  padding: 10px;
}

.patient-desease-card .points-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 8px;
}

.patient-desease-card .points-before {
  background: -webkit-gradient(linear, left top, left bottom, from(#EAA3A3), to(#FF3131));
  background: linear-gradient(180deg, #EAA3A3 0%, #FF3131 100%);
}

.patient-desease-card .points-after {
  background: -webkit-gradient(linear, left top, left bottom, from(#7FE4B3), to(#03A750));
  background: linear-gradient(180deg, #7FE4B3 0%, #03A750 100%);
}

.patient-desease-card .points {
  color: white;
  width: 50%;
  border-radius: 12px;
  padding: 10px 0;
}

.patient-desease-card .points h4 {
  font-family: "HKGrotesk-SemiBold", sans-serif;
  margin-bottom: 0;
  font-size: 32px;
}

.patient-desease-card .points h6 {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0;
}

.card-large .points {
  min-height: 100px;
}

#fix-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
}

.investor {
  background-color: #FFFFFF;
  margin-top: 8px;
  width: 100%;
  padding-bottom: 25px;
}

.investor-title h4 {
  font-family: "HKGrotesk-SemiBold", sans-serif;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  color: #444444;
  padding-top: 20px;
  text-align: center;
}

.investor-logo {
  text-align: center;
  margin-top: 5px;
}

.investor-sub-title {
  text-align: center;
}

.investor-sub-title p {
  margin: 0;
  font-size: 11px;
  color: #5A7184;
}

.investor-companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  padding-top: 5px;
}

.how-we-do {
  background-color: #CEFFDF;
  margin-top: 8px;
  padding: 40px 30px;
  padding-bottom: 55px;
  text-align: center;
}

.hwd-top-title h4 {
  font-size: 16px;
  font-weight: bold;
  color: #36B37E;
  letter-spacing: 2px;
}

.hwd-title h1 {
  font-weight: bold;
  font-size: 32px;
  color: #183B56;
  line-height: 42px;
  margin-top: 20px;
}

.hwd-sub-title h3 {
  font-family: "HKGrotesk-SemiBold", sans-serif;
  font-size: 22px;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 30px;
}

.hwd-btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hwd-btn-wrap button {
  background-color: #FFFFFF;
  border-radius: 30px 30px;
  padding: 6px;
  border: 2px solid #36B37E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.hwd-btn-wrap button:focus {
  outline: none;
}

.hwd-btn-wrap button:hover {
  border-color: #183B56;
}

.hwd-btn-wrap button:hover span {
  color: #183B56;
}

.hwd-btn-wrap button span {
  color: #01A751;
  font-weight: bold;
  font-size: 16px;
  margin-left: 8px;
  margin-right: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#pricing {
  background-color: #FFFFFF;
  margin-top: 8px;
  padding: 45px 40px;
  text-align: center;
}

.pricing-title h3 {
  font-family: "HKGrotesk-Bold", sans-serif;
  font-weight: bold;
  color: #183B56;
  margin-bottom: 0;
}

.pricing-sub-title h5 {
  font-family: "HKGrotesk-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  color: #666666;
  font-weight: bold;
  letter-spacing: 0.10px;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 12px;
  margin-bottom: 12px;
}

.pricing-para p {
  font-size: 16px;
  color: #5A7184;
  font-style: normal;
  line-height: 24px;
  margin-bottom: 0;
  margin-bottom: 15px;
}

.pricing-content {
  background-color: #CEFFDF;
  border-radius: 9px;
  position: relative;
  overflow: hidden;
  padding: 20px 15px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

.pricing-content:before {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #36B37E;
  position: absolute;
  top: 0;
  left: 0;
}

.pricing-cnt-title h3 {
  color: #183B56;
  font-size: 24px;
  font-weight: bold;
  padding: 0 5px;
  margin-bottom: 0;
  margin-bottom: 15px;
}

.pricing-top-service img {
  width: 100%;
}

.pricing-grid-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

.pricing-grid-services img {
  width: 47%;
  margin-bottom: 13px;
}

.pricing-amount {
  text-align: left;
  padding-left: 15px;
  border-top: 1px solid #E5EAF4;
  margin-top: 15px;
}

.pricing-amount h1 {
  font-family: "HKGrotesk-Bold", sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #2F9D6E;
  line-height: 48px;
  margin-top: 15px;
}

.pricing-amount h1 span {
  font-family: "HKGrotesk-Regular", sans-serif;
  color: #5A7184;
  font-size: 18px;
  font-weight: normal;
}

.pricing-btn-wrap {
  padding: 0 10px;
}

.pricing-btn {
  background-color: #2F9D6E;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 30px;
  width: 100%;
  display: block;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 18px;
}

.pricing-btn:hover {
  text-decoration: none;
  background-color: #35b17c;
  color: white;
}

.pricing-btn img {
  margin-left: 15px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.question {
  margin-top: 8px;
  padding: 60px 40px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #FFFFFF;
}

.question-title h3 {
  font-family: "HKGrotesk-Bold", sans-serif;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: bold;
  color: #183B56;
}

.question-subtitle p {
  font-size: 16px;
  line-height: 26px;
  color: #5A7184;
  margin-top: 20px;
  margin-bottom: 30px;
}

.question-block-wrap {
  width: 100%;
}

.question-block {
  border: 1px solid #E5EAF4;
  padding: 30px 5px;
  border-radius: 8px;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
}

.question-block:last-child {
  padding: 15px 5px;
  margin-bottom: 0;
}

.question-block h2 {
  font-family: "HKGrotesk-Bold", sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #183B56;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 8px;
}

.question-block h3 {
  color: #00A651;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 5px;
}

.question-block h3 span {
  margin-left: 10px;
}

.question-block h4 {
  color: #5A7184;
  font-size: 14px;
  margin: 0;
}

.bottom-sec {
  text-align: center;
  padding: 40px 30px 100px 30px;
  background-color: #FFFFFF;
  margin-top: 8px;
}

.bottom-block {
  padding: 20px 30px;
}

.bottom-block img {
  margin-bottom: 10px;
}

.bottom-block p {
  font-size: 20px;
  line-height: 24px;
  margin-top: 10px;
}

.bottom-block p span {
  font-weight: bold;
}

.bottom-block .bottom-quote {
  font-size: 12px;
  color: #5A7184;
  margin-top: 5px;
}

.bottom-block .bottom-block-icons a {
  margin-left: 15px;
}

.bottom-block .bottom-block-icons a:first-child {
  margin-left: 0;
}

.bottom-block-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EEEEEE;
  border-radius: 52px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  padding: 10px;
}

.bottom-block-card img {
  border-radius: 50%;
}

.bottom-block-card .bottom-card-text {
  text-align: left;
  margin-left: 10px;
}

.bottom-block-card h5 {
  font-family: "HKGrotesk-SemiBold", sans-serif;
  font-size: 18px;
  color: #666666;
}

.bottom-block-card h6 {
  text-transform: uppercase;
  color: #36B37E;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */