$bg-color : #FFFFFF;
$bg-gray : #EEEEEE;


@mixin mobile {
    @media (max-width: 576px){
        @content;
    }
}


// General css for surface level customization
//======================================================

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body {
    background-color: #E5E5E5;
    font-family: "HKGrotesk-Regular", sans-serif;
}


// Main site wrapper
// Static width for large screen
// But in mobile device, layout will be fluid
//=========================================================


#site-wrapper{
    max-width : 360px;
    background-color: $bg-gray;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    overflow: hidden;
    
    @include mobile{
        max-width: 100%;
        
    }
}


// Header css
//================================================

header{
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 30px 30px 20px 30px;
    height : 80px;
    box-shadow: -1px -10px 30px 3px rgba(0,0,0,0.75);
    position: relative;
    z-index: 1;
    max-width : 360px;
    background-color : $bg-color;
    position : relative;
    left : 50%;
    transform : translateX(-50%);
    

    @include mobile{
        max-width: 100%;
    }
}

.header-btn{

    width : 107px;
    height : 48px;
    background-color: $bg-color;
    border : 1px solid #DDDDDD;
    border-radius : 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding : 8px;
    font-weight : 600;
    
    &:hover{
        text-decoration: none;
    }

    &:focus{
        outline : none;
    }

    span{
        color : #FF5A00;
        font-size : 14px;
        text-align: left;
        line-height : 18px;
        margin-left : 8px;
    }

}


// Banner section css
//===================================

.foot-note{
    position : absolute;
    margin: 0;
    bottom: 10px;
    right : 20px;
    font-size: 12px;
}

.banner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: linear-gradient(180deg, #00CC75 0%, #0BAF6A 100%, #017A47 100%);
    color : #ffffff;
    padding : 40px 0;

}

.bnr-header{
    h2{
        font-family: "HKGrotesk-Bold", sans-serif;
        font-weight : bold;
        font-size : 42px;
        margin-bottom : 0;
        text-align: center;
    }
}

.bnr-content{
    display : flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    width: 100%;
    padding : 0 18px;
    margin-top : 22px;
    position : relative;
}

.bnr-col{
    width : 50%;
    .bnr-sub{
        
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: row;
        margin-bottom: 15px;
        &:last-child{
            margin-bottom : 0;
        }
    }

    .bnr-sub-text{
        margin-left : 15px;
        h4{
            font-size: 24px;
            font-weight : bold;
            line-height : 32px;

        }
    }
}


.bnr-img-wrap{
    position: absolute;
    width : 100%;
    bottom : 0;
}

.bnr-hero-img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    img{
        width : 230px;
        bottom : 0;
        transform : translate(-30px, 10px)
        
    }
}


// Doctors section css
//========================================================

#doctor-grid-buttons{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding : 10px 40px;


    a{

        font-size : 16px;
        color : #666666;
        padding : 3px 10px;
        border : 1px solid #EEEEEE;
        border-radius : 17px;
        text-transform: capitalize;
        margin-right : 10px;
        margin-bottom: 10px;
        transition : all 0.5s ease;

        &:last-child{
            margin-right: 0;
        }

        &:hover{
            text-decoration: none;
            border-color : darken(#EEEEEE, 10%);
        }

        &.active{
            border-color : #03A750;
        }

    }

}

.doctors{
    background-color: $bg-color;
}
.doctors-title{

    h2{
        font-family: "HKGrotesk-Bold", sans-serif;
        font-size : 28px;
        font-weight: bold;
        color : #183B56;
        text-align: center;
        padding : 0 20px;
        line-height: 36px;
        padding-top : 20px;
    }
}


#doctors-grid{
    transition : all 0.5s ease;
    width : 100%;
    
    img{
        width : 45px;
        // transform : scale(0.5);
        transition : all 0.5s ease;
        cursor : pointer;
        position: absolute;
        top : 50%;
        left : 50%;
        transform : translate(-50%, -50%);
        border-radius: 50%;
        transition : all 0.5s ease;
        
    }
}

.grid-item {
    position : relative;
    float: left;
    height : 80px;
    width : 25%;
    // background: #0D8;
    // border: 2px solid #333;
    border-color: hsla(0, 0%, 0%, 0.7);
    // transition : all 0.5s ease;
}

.grid-item.active{
    
    img{
        border : 4px solid #02783A;
        border-radius : 50%;
        
        
    }

}


// .grid-item--height1{
//     height : 110px;
//     img{
//         width : 65px !important;
        
//     }
// }

  
// .grid-item--height2{
//     height : 160px;

//     img{
//         width : 70px !important;
//         transform : translate(-30%, -50%) !important;
//     }
// }

// .grid-item--width2{
//     width : 50%;
//     img{
//         transform : translate(20%, -50%) !important;
//     }
// }

.scale-up{
    transform : scale(1.5);
}



// Doctor info section style
//====================================


#doctor-info{
    background-color: $bg-color;
    padding : 15px 40px 25px 40px; 
}

.name-title{

    h4{
        font-family : "HKGrotesk-Bold", sans-serif;
        font-size : 24px;
        color : #02783A;
        margin-bottom : 0;
    }

    h5{

        text-transform: uppercase;
        font-size : 16px;
        font-weight : bold;
        color : #666666;
        margin-top : 5px;

    }

}


.doctor-block{
    display : flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top : 30px;

    &:last-child{
        margin-top : 20px;
    }

    .doctor-block-icon{

        display: block;
        
    }

    .block-text{
        margin-left : 12px;
    }
    h5{
        color : #666666;
        font-size : 18px;
        margin-bottom : 0;
        line-height: 12px;
        margin-bottom : 6px;
    }

    h4{
        font-family: "HKGrotesk-SemiBold", sans-serif;
        font-size : 20px;
        color : #02783A;
        margin-bottom : 0;
    }
}


// Patients section style
//==========================================

.patients{
    background-color : #E8F5E9;
    margin-top : 8px;
    text-align: center;
    padding : 30px 0;
}

.patients-title{
    h2{
        font-family: "HKGrotesk-Bold", sans-serif;
        color : #183B56;
        font-size : 28px;
        font-weight : bold;
        margin-bottom : 0;
    }
}

.patients-sub-title{

    padding : 0 60px;
    h5{
        margin-bottom : 0;
        font-size: 19px; 
        color : #5A7184;
        margin-top : 10px;
        margin-bottom : 10px;
        line-height : 28px;
        
    }
}



#patients-grid{
    transition : all 0.5s ease;
    width : 100%;
    
    img{
        width : 45px;
        // transform : scale(0.5);
        transition : all 0.5s ease;
        cursor : pointer;
        position: absolute;
        top : 50%;
        left : 50%;
        transform : translate(-50%, -50%);
        border-radius: 50%;
        transition : all 0.5s ease;
        
    }
}

.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-top : 15px;

    li{
        width : 10px;
        height : 10px;
        border-radius: 50%;
        border : none;
        background-color: #B3BAC5;
        cursor : pointer;
        margin-left : 10px;
        transition : all 0.3s ease;
        &:first-child{
            margin-left : 0;
        }
    }

    .slick-active{

        background-color : #109C66;


    }
    
}

.slick-slide:focus{
    outline : none;
}

// Patient's info section style
//====================================

#patient-info{

    padding : 30px 40px;
    text-align: center;
    background-color: #E8F5E9;
    position : relative;

    .foot-note{
        bottom : 65px;
        right : 40px;
        color : #999999;
    }

}

.patient-name{
    h3{
        font-family: "HKGrotesk-Bold", sans-serif;
        margin-bottom : 0;
        color : #02783A;
        font-weight : bold;
        font-size : 28px;
    }
}

.basic-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top : 20px;
    margin-bottom : 20px;
}


.basic-content{
    text-align : left;
    margin-left : 17px;

    h5{
        font-weight : bold;
        color : #444444;
        margin-bottom : 0;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom : 5px;

    }

    h4{
        margin-bottom : 0;
        color : #388E3C;
        font-weight : bold;
        font-size : 22px;
    }
}

.patient-comment{
    margin-top : 15px;
        margin-bottom : 35px;

    p{
        font-family : "HKGrotesk-SemiBold", sans-serif;
        font-size: 22px;
        color : #444444;
        
    }

}

.patient-desease-card{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color : white;
    border: 1px solid #DDDDDD;
    border-radius: 16px;
    padding-bottom : 8px;
    margin-bottom : 18px;

    .desease-name{
        h5{
            font-family : "HKGrotesk-SemiBold", sans-serif;
            color : #444444;
            font-size : 22px;
            margin-bottom : 0;
            margin-top : 10px;
            margin-bottom: 8px;
        }
    }

    .points-arrow{
        padding : 10px;
        
    }


    .points-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        width : 100%;
        padding : 0 8px;
        

    }

    .points-before{
        background: linear-gradient(180deg, #EAA3A3 0%, #FF3131 100%);
    }

    .points-after{

        background: linear-gradient(180deg, #7FE4B3 0%, #03A750 100%);

    }

    

    .points{
        color : white;
        width : 50%;
        border-radius: 12px;
        padding : 10px 0;
        
        
        h4{
            font-family : "HKGrotesk-SemiBold", sans-serif;
            margin-bottom : 0;
            font-size: 32px;

        }

        h6{
            font-size : 12px;
            margin-top : 3px;
            margin-bottom : 0;
        }
    }

}

.card-large {

    .points{
        min-height: 100px;
    }
}

#fix-height{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom : 15px;
}


// Investor section style
//=====================================

.investor{
    background-color : $bg-color;
    margin-top : 8px;
    width : 100%;
    padding-bottom : 25px;
    
}



.investor-title{
    h4{
        font-family: "HKGrotesk-SemiBold", sans-serif;
        margin-bottom : 0;
        font-size : 18px;
        font-weight : 600;
        color : #444444;
        padding-top : 20px;
        text-align: center;
    }
}

.investor-logo{
    text-align : center;
    margin-top : 5px;
}

.investor-sub-title{
    text-align: center;

    p{
        margin : 0;
        font-size : 11px;
        color : #5A7184;
    }
}

.investor-companies{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    padding-top : 5px;
}

// How we do it section
//=================================

.how-we-do{
    background-color: #CEFFDF;
    margin-top : 8px;
    padding : 40px 30px;
    padding-bottom : 55px;
    text-align: center;
}

.hwd-top-title{

    h4{
        font-size: 16px;
        font-weight : bold;
        color : #36B37E;
        letter-spacing: 2px;
    }

} 

.hwd-title{

    h1{
        font-weight : bold;
        font-size : 32px;
        color : #183B56;
        line-height : 42px;
        margin-top : 20px;
    }

}

.hwd-sub-title{

    h3{

        font-family: "HKGrotesk-SemiBold", sans-serif;
        font-size : 22px;
        color :  #333333;
        margin-top : 20px;
        margin-bottom : 30px;
    }

}

.hwd-btn-wrap{
    display: flex;
    justify-content: center;

    button{

        background-color : $bg-color;
        border-radius : 30px 30px;
        padding : 6px;
        border : 2px solid #36B37E;
        display: flex;
        justify-content: center;
        align-items: center;
        transition : all 0.3s ease;

        &:focus{
            outline : none;
        }

        &:hover{

            border-color : #183B56;
            span{
            color : #183B56;
            }

            
        }
        

        span{
            color : #01A751;
            font-weight: bold;
            font-size : 16px;
            margin-left : 8px;
            margin-right : 8px;
            transition : all 0.3s ease;
        }
    }
}



// Pricing section style
//================================


#pricing{
    background-color : $bg-color;
    margin-top : 8px;

    padding : 45px 40px;
    text-align : center;
}

.pricing-title{

    h3{

        font-family: "HKGrotesk-Bold", sans-serif;
        font-weight : bold;
        color : #183B56;
        margin-bottom : 0;

    }

}

.pricing-sub-title{

    h5{

        font-family: "HKGrotesk-Bold", sans-serif;
        text-transform: uppercase;
        font-size: 18px;
        color : #666666;
        font-weight : bold;
        letter-spacing: 0.10px;
        line-height : 32px;
        margin-bottom : 0;
        margin-top : 12px;
        margin-bottom : 12px;

    }

}

.pricing-para{

    p{

        font-size: 16px;
        color : #5A7184;
        font-style: normal;
        line-height: 24px;
        margin-bottom : 0;
        margin-bottom : 15px;

    }

}

.pricing-content{

    background-color : #CEFFDF;
    border-radius : 9px;
    position : relative;
    overflow: hidden;
    padding : 20px 15px;
    box-shadow : 0px 0px 3px rgba(0, 0, 0, 0.2);


    &:before{
        content : "";
        width : 100%;
        height : 3px;
        background-color: #36B37E;
        position : absolute;
        top : 0;
        left : 0;

    }

}


.pricing-cnt-title{

    h3{
        color : #183B56;
        font-size: 24px;
        font-weight: bold;
        padding : 0 5px;
        margin-bottom : 0;
        margin-bottom : 15px;
    }

}

.pricing-service{


}

.pricing-top-service{

    img{
        width : 100%;
    }

}
.pricing-grid-services{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top : 15px;

    img{
        width : 47%;
        margin-bottom : 13px;
    }
}


.pricing-amount{
    text-align: left;
    padding-left: 15px;
    border-top : 1px solid #E5EAF4;
    margin-top : 15px;
    h1{

        font-family: "HKGrotesk-Bold", sans-serif;
        font-size: 40px;
        font-weight : bold;
        color :  #2F9D6E;
        line-height : 48px;
        margin-top : 15px;

        span{
            font-family: "HKGrotesk-Regular", sans-serif;
            color : #5A7184;
            font-size : 18px;
            font-weight: normal;
        }

    }
    
}


.pricing-btn-wrap{
    padding : 0 10px;
}

.pricing-btn{

    background-color : #2F9D6E;
    color : white;
    font-size: 18px;
    font-weight : bold;
    padding : 10px 30px;
    width : 100%;
    display: block;
    border-radius : 8px;
    transition : all 0.3s ease;
    margin-top : 18px;

    &:hover{
        text-decoration : none;
        background-color: lighten(#2F9D6E, 5%);
        color : white;
    }

    img{
        margin-left : 15px;
        transform: translateY(-2px);
    }

}


//Question section style
//=====================================

.question{

    margin-top : 8px;
    padding : 60px 40px;
    padding-bottom : 40px;
    text-align: center;
    background-color: $bg-color;
}

.question-title{

    h3{
        font-family: "HKGrotesk-Bold", sans-serif;
        margin-bottom : 0;
        font-size : 24px;
        font-weight : bold;
        color :  #183B56;
    }

}

.question-subtitle{

    p{
        font-size: 16px;
        line-height : 26px;
        color : #5A7184;
        margin-top : 20px;
        margin-bottom : 30px;
    }

}

.question-block-wrap{
    width : 100%;
}

.question-block{
    border : 1px solid #E5EAF4;
    padding : 30px 5px;
    border-radius :  8px;
    margin-bottom : 15px;
    box-shadow : 0px 6px 10px rgba(0, 0, 0, 0.03);


    &:last-child{

        padding : 15px 5px;
        margin-bottom: 0;
    }


    h2{
        font-family: "HKGrotesk-Bold", sans-serif;
        font-weight : bold;
        font-size : 22px;
        color : #183B56;
        margin : 0;
        margin-top : 15px;
        margin-bottom : 8px;
    }

    h3{
        color : #00A651;
        font-size : 14px;
        text-transform : uppercase;
        margin : 0;
        margin-bottom : 5px;

        span{
            margin-left : 10px;
        }

    }

    h4{
        color : #5A7184;
        font-size : 14px;
        margin : 0;
    }

}

// Bottom section style
//==================================

.bottom-sec{

    text-align: center;
    padding : 40px 30px 100px 30px;
    background-color: $bg-color;
    margin-top : 8px;

}

.bottom-block{
    padding : 20px 30px;

    img{
        margin-bottom : 10px;
    }

    p{
        font-size : 20px;
        line-height : 24px;
        margin-top : 10px;

        span{

            font-weight : bold;
        }
    }

    .bottom-quote{

        font-size : 12px;
        color : #5A7184;
        margin-top : 5px;

    }

    .bottom-block-icons{
        a{
            margin-left : 15px;

            &:first-child{
                margin-left : 0;
            }
        }
    }
    
}


.bottom-block-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border : 1px solid #EEEEEE;
    border-radius : 52px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    padding : 10px;
    


    img{
        border-radius: 50%;
    }

    .bottom-card-text{
        text-align: left;
        margin-left : 10px;
    }

    h5{

        font-family: "HKGrotesk-SemiBold", sans-serif;
        font-size : 18px;
        color : #666666;
    }

    h6{

        text-transform: uppercase;
        color : #36B37E;
        font-weight: bold;

    }


}